
<!-- Full Page Intro -->
  <!--
    <div class="view full-page-intro" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg'); background-repeat: no-repeat; background-size: cover;">
  -->
  <div class="view full-page-intro" style="background-image: url('https://www.dse-corp.co.jp/images/top/main_visual_pc.jpg'); background-repeat: no-repeat; background-size: 100% 100%;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

      <!-- Content -->
      <div class="container">

        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          <div class="col-md-6 mb-4 white-text text-center text-md-left">

            <h1 class="display-4 font-weight-bold">Thai DCR & Jwellness</h1>

            <hr class="hr-light">

            <p>
              <strong>Making Tomorrow with Technology and Dreams</strong>
            </p>

            <p class="mb-4 d-none d-md-block">
              <strong>Above all, we are engineers. Our teams of experts strive to excel in the demanding and
                dynamic fields of aerospace, automobile, industrial machinery and software.
                We challenge the most advanced technologies with innovation and expertise
                to provide our customers with the most cutting-edge industrial solutions..</strong>
            </p>

            <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/" class="btn btn-indigo btn-lg">Start free tutorial
              <i class="fas fa-graduation-cap ml-2"></i>
            </a>

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6 col-xl-5 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card content-->
              <div class="card-body">

                <!-- Form -->
                <form name="">
                  <!-- Heading -->
                  <h3 class="dark-grey-text text-center">
                    <strong>Write to us:</strong>
                  </h3>
                  <hr>

                  <div class="md-form">
                    <i class="fas fa-user prefix grey-text"></i>
                    <input type="text" id="form3" class="form-control">
                    <label for="form3">Your name</label>
                  </div>
                  <div class="md-form">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input type="text" id="form2" class="form-control">
                    <label for="form2">Your email</label>
                  </div>

                  <div class="md-form">
                    <i class="fas fa-pencil-alt prefix grey-text"></i>
                    <textarea type="text" id="form8" class="md-textarea"></textarea>
                    <label for="form8">Your message</label>
                  </div>

                  <div class="text-center">
                    <button class="btn btn-primary">Send</button>
                    <hr>
                    <fieldset class="form-check">
                      <input type="checkbox" class="form-check-input" id="checkbox1">
                      <label for="checkbox1" class="form-check-label dark-grey-text">Subscribe me to the newsletter</label>
                    </fieldset>
                  </div>

                </form>
                <!-- Form -->

              </div>

            </div>
            <!--/.Card-->

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </div>
      <!-- Content -->

    </div>
    <!-- Mask & flexbox options-->

  </div>
  <!-- Full Page Intro -->
<!--Main layout-->
<main>
    <div class="container">
  
      <!--Section: Main info-->
      <section class="mt-5 wow fadeIn">
  
        <!--Grid row-->
        <div class="row">
  
          <!--Grid column-->
          <div class="col-md-6 mb-4">
  
            <img src="http://www.thaidcr.com/images/engineer.gif" class="img-fluid z-depth-1-half" alt="">
  
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-md-6 mb-4">
  
            <!-- Main heading -->
            <h3 class="h3 mb-3">Introduction</h3>
            <p>This template is created with Material Design for Bootstrap (
              <strong>MDB</strong> ) framework.</p>
            <p>Read details below to learn more about MDB.</p>
            <!-- Main heading -->
  
            <hr>
  
            <p>
              <strong>400+</strong> material UI elements,
              <strong>600+</strong> material icons,
              <strong>74</strong> CSS animations, SASS files, templates, tutorials and many more.
              <strong>Free for personal and commercial use.</strong>
            </p>
  
            <!-- CTA -->
            <a target="_blank" href="https://mdbootstrap.com/docs/jquery/getting-started/download/" class="btn btn-indigo btn-md">Download
              <i class="fas fa-download ml-1"></i>
            </a>
            <a target="_blank" href="https://mdbootstrap.com/docs/jquery/components/" class="btn btn-indigo btn-md">Live demo
              <i class="far fa-image ml-1"></i>
            </a>
  
          </div>
          <!--Grid column-->
  
        </div>
        <!--Grid row-->
  
      </section>
      <!--Section: Main info-->
  
   <hr class="my-5">
  
      <!--Section: Three Card-->
      <section>
        <!--Grid row-->
        <div class="row">
         <!--Grid column-->
         <div class="col-lg-4 col-md-12 mb-4">
  
            <!--Card-->
            <div class="card">
  
              <!--Card image-->
              <div class="view overlay">
                  <img src="assets/img/Uchida-President.jpeg" class="card-img-top"
                    alt="">
                  <a href="https://mdbootstrap.com/education/tech-marketing/automated-app-introduction/" target="_blank">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
  
              <!--Card content-->
              <div class="card-body">
                <!--Title-->
                <h4 class="card-title">Our Mission</h4>
                <!--Text-->
                <p class="card-text">Get started with MDBootstrap, the world's most popular Material Design framework
                  for building
                  responsive, mobile-first sites.</p>
                <p class="card-text">
                  <strong>5 minutes, a few clicks and... done. You will be surprised at how easy it is.</strong>
                </p>
              </div>
  
            </div>
            <!--/.Card-->
  
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4">
  
            <!--Card-->
            <div class="card">
  
              <!--Card image-->
              <div class="view overlay">
                <img src="/assets/img/engineering.jpg" class="card-img-top"
                  alt="">
                <a href="https://mdbootstrap.com/education/tech-marketing/automated-app-introduction/" target="_blank">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
  
              <!--Card content-->
              <div class="card-body">
                <!--Title-->
                <h4 class="card-title">Our Business</h4>
                <!--Text-->
                <p class="card-text">Learn how to create a smart website which learns your user and reacts properly to
                  his behavior.</p>
                <a href="https://mdbootstrap.com/education/tech-marketing/automated-app-introduction/" target="_blank"
                  class="btn btn-primary btn-md">Start tutorial
                  <i class="fas fa-play ml-2"></i>
                </a>
              </div>
  
            </div>
            <!--/.Card-->
  
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4">
  
            <!--Card-->
            <div class="card">
  
              <!--Card image-->
              <div class="view overlay">
                <img src="http://www.thaidcr.com/images/trendy.jpg" class="card-img-top" alt="">
                <a href="https://mdbootstrap.com/education/tech-marketing/web-push-introduction/" target="_blank">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
  
              <!--Card content-->
              <div class="card-body">
                <!--Title-->
                <h4 class="card-title">Company Overview</h4>
                <!--Text-->
                <p class="card-text">Push messaging provides a simple and effective way to re-engage with your users
                  and in this
                  tutorial you'll learn how to add push notifications to your web app</p>
                <a href="https://mdbootstrap.com/education/tech-marketing/web-push-introduction/" target="_blank" class="btn btn-primary btn-md">Start
                  tutorial
                  <i class="fas fa-play ml-2"></i>
                </a>
              </div>
  
            </div>
            <!--/.Card-->
  
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
  
      <hr class="mb-5">
  
      <!--Section: More-->
      <section>
  
        <h2 class="my-5 h3 text-center">Affiliated Companies</h2>
  
        <!--First row-->
        <div class="row features-small mt-5 wow fadeIn">
  
          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fab fa-firefox fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2 pl-3">
                <h5 class="feature-title font-bold mb-1">Daiichi System Engineering</h5>
                <p class="grey-text mt-2">Chrome, Firefox, IE, Safari, Opera, Microsoft Edge - MDB loves all browsers; all browsers love MDB.
                </p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->
  
          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-level-up-alt fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">DCR</h5>
                <p class="grey-text mt-2">MDB becomes better every month. We love the project and enhance as much as possible.
                </p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->
  
          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-comments fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1"> DCT</h5>
                <p class="grey-text mt-2">Our society grows day by day. Visit our forum and check how it is to be a part of our family.
                </p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->
  
          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-code fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">Beijin DCR</h5>
                <p class="grey-text mt-2">MDB is integrated with newest jQuery. Therefore you can use all the latest features which come along with
                  it.
                </p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->
  
        </div>
        <!--/First row-->
  
        <!--Second row-->
        <div class="row features-small mt-4 wow fadeIn">
  
          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-cubes fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">Myanmar DCR</h5>
                <p class="grey-text mt-2">Material Design for Bootstrap comes with both, compiled, ready to use libraries including all features as
                  well as modules for CSS (SASS files) and JS.</p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->
  
          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-question fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">Technical support</h5>
                <p class="grey-text mt-2">We care about reliability. If you have any questions - do not hesitate to contact us.
                </p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->
  
          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-th fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">Flexbox</h5>
                <p class="grey-text mt-2">MDB fully supports Flex Box. You can forget about alignment issues.</p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->
  
          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="far fa-file-code fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">SASS files</h5>
                <p class="grey-text mt-2">Arranged and well documented .scss files can't wait until you compile them.</p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->
  
        </div>
        <!--/Second row-->
  
      </section>
      <!--Section: More-->
  
    </div>
  </main>
  <!--Main layout-->
  
  