<!-- Default horizontal form -->
<div class="container" align="center">
  <br><br><br><br><br><br>
  <form>
    <!-- Grid row -->
    <div class="form-group row justify-content-center">
      <div class="col-12 col-sm-6 col-lg-8">{{ genHeader() }}</div>
    </div>
    <!-- Grid row -->
    <div class="form-group row">
      <!-- Default input -->
      <div class="col-sm-3"></div>
      <label class="col-sm-1  col-form-label">名前</label>
      <div class="col-sm-6">
        <input mdbInput class="form-control" placeholder="Name" id="userName" [value]="userInfo.name">
      </div>
      <div class="col-sm-2"></div>
    </div>
    <!-- Grid row -->
    <div class="form-group row">
      <div class="col-sm-3"></div>
      <label class="col-sm-1  col-form-label">所族</label>
      <div class="col-sm-6">
        <div *ngIf="isLoaded; else Loading">
          <select class="browser-default custom-select" #t (change)="getSelectedValue(t.value)">
            <option [selected]="selectMatchedDropBox(product.id)"  [value]="product.id" *ngFor="let product of groupMember">
              {{product.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
    <br><br>
    <!-- Grid row -->
    <div class="form-group row">
      <!-- Default input -->
      <div class="col-sm-3"></div>
      <div class="col-sm-1 text-right">
        <mdb-checkbox [default]="true" [checked]="isMoreInfo_Checked" (change)="toggleDisable()"></mdb-checkbox>
      </div>
      <div class="col-sm-8 text-left">追加情報を入力する</div>
    </div>
    <!-- Grid row -->
    <div class="form-group row">
      <div class="col-sm-3"></div>
      <label class="col-sm-1  col-form-label">生年月日</label>
      <div class="col-sm-5 text-left">
        <div>
           <input matInput [matDatepicker]="myDatepicker" [disabled]="!isMoreInfo_Checked" date="true" [value]="FormPickerDate.value" (dateChange)="changeDateValue($event)">
           <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
        </div>

      </div>
      <div class="col-sm-6"></div>
    </div>
    <!-- Grid row -->
    <div class="form-group row">
      <div class="col-sm-3"></div>
      <label class="col-sm-1  col-form-label">住所</label>
      <div class="col-sm-6">
        <input [disabled]="!isMoreInfo_Checked" id="userAddress" [value]="userInfo.address" mdbInput class="form-control"
          placeholder="Address">
      </div>
      <div class="col-sm-2"></div>
    </div>
    <!-- Grid row -->
    <div class="form-group row">
      <div class="col-sm-3"></div>
      <label class="col-sm-1  col-form-label">備考</label>
      <div class="col-sm-6">
        <textarea [disabled]="!isMoreInfo_Checked" id="userNote"[value]="userInfo.note" 
        formControlName="contactFormMessage"
          class="form-control rounded-0" mdbInput rows="3"
          placeholder="Message"></textarea>
      </div>
      <div class="col-sm-2"></div>
    </div>
    <!-- Grid row -->
    <div class="form-group row">
      <div class="col-sm-12">
        <button type="submit" (click)="onSubmit()" mdbBtn color="primary">登録</button>
      </div>
    </div>
    <!-- Grid row -->
  </form>
  <!-- Default horizontal form -->
</div>




<!--[NG Template]-->
<ng-template #Loading>
  <div class="spinner-grow text-secondary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-success" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-danger" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>